* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    width: 500px;
    height: 580px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 450px;
    margin: 10px 0;
    border-bottom: 2px solid #fff;
}

input::placeholder {
    color: #fff;
    font-size: 15px;
}

label {
    color: #fff;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
}

button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.answer {
    font-size: 0.9m;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

@media (max-width: 770px){
    .container {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
}

.copyrightText {
    color: #fff;
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
}